<div class="aboutframe1" id="aboutframeUno">
    <h1>Daily </h1>
    <h2><em>Where it's always fresh</em></h2>

    <br>

    <p class="aboutp">Daily is a fresh take on text post social media with the goal of keeping everything
        fresh, new, and relevant. No matter when you have a Daily session, you're guaranteed to
        always have content that's unique to the day, and from making posts yourself, extending conversations
        through comments, or just your average surfing visit, Daily always makes your day.
    </p>

</div>



    <!-- About the page -->
<div class="aboutframe2">
    <h1>The Daily Style</h1>
    <br>

    <p class="aboutp">Daily's fresh style is simple. Just make a post and it's available for all to see
        for the next 24 hours on the dot. Users can view, interact with, and comment on every Daily post
        individually, and a seamless homepage allows for an engaging way to get your full Daily dose of
        everything that's new. Just post ideas, questions, thoughts, or just plain Daily fun and let the Daily
        community have at it for the next 24 hours! Of course, what happens each day on Daily stays in each day.
        Every post and all of its comments and contemplations disappear 24 hours after they're posted, ensuring
        that everything on Daily is always fresh, and that new posts can take the engagement spotlight.
    </p>

</div>

<div class="aboutframe1" id="aboutframeDos">
    <h1>Dark, by Daily</h1>
    <h2><em>We heard your calls, dark mode is here</em></h2>
    <br>

    <p class="aboutp">We get it, things being up daily means that they're up during the night as well.
        Sometimes, blinding white and grey just don't cut it either in the style department. That's why
        after the amazing time that the Daily team has had with its userbase for about the past 24 minutes
        since the site was put up, we've taken note and implemented our most requested feature (oustide of
        everyone wanting posts that last for exactly 23 hours and 55 minutes instead of 24 hours (We won't 
        cave in on this one)).
    </p>

    <h4>Scroll with the freshest color scheme. Dark, by Daily</h4>

</div>

<div class="aboutframe2">
    <h1>The Devs Behind Daily</h1>
    <h4>Daily was created with the goal of both creating a fresh take on social media, and of
        getting the devs a good grade in their web development course
    </h4>

</div>

    <br>

<div class="devSection">
    <div class="devImgContainer">
        <h4>Milan - The Backend Wizard</h4>
        
        <a target="_blank" href="https://github.com/MilanDonhowe">
        <img src="https://avatars.githubusercontent.com/u/26470611?v=4">
        </a>
    </div>


    <div class="devImgContainer">
        <h4>Kai - That Other Guy</h4>
        
        <a target="_blank" href="https://github.com/KaiRoy">
        <img src="https://avatars.githubusercontent.com/u/19613036?v=4">
        </a>

    </div>


    <div class="devImgContainer">
        <h4>Scot - Just Finished This About Page</h4>
        
        <a target="_blank" href="https://github.com/scotrein">
        <img src="https://avatars.githubusercontent.com/u/67924266?v=4">
        </a>

    </div>

</div>