<div class="post-container">
    <button type="button" id="add-post-button"><h1>Add a Post!</h1></button>

    <!-- Array of Posts Below -->
    {{#each posts}}
        {{>partials/post post=.}}
    {{/each}}
            
</div>